@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #333333;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.bg-pink {
  background-color: #FDF2E9;
}

.header-container {
  width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 43px 30px 100px 30px;
}


.logo {
  width: 158px;
  height: 21px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav a {
  color: #333333;
  text-decoration: none;
}

.yellow-btn {
  padding: 12px 24px;
  font-size: 17px;
  color: #fff;
  background-color: #E67E22;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.white-btn {
  padding: 12px 24px;
  font-size: 17px;
  color: #555555;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* sub header */

.sub-header {
  display: flex;
  gap: 30px;
  padding-bottom: 90px;
}

.sub-header img {
  width: 50%;
}

.left-side h1{
  font-size: 48px;
  font-weight: 700;
}

.left-side p {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #555555;
}

.btn-box {
  display: flex;
  gap: 1rem;
  margin-top: 48px;
  margin-bottom: 64px;
}

.customer-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.customer-box img {
  width: 194px;
  height: 44px;
}

.customer-box span::before {
  content: "250,000+";
  color: #E67E22;
}



/* section-top */

.section-top {
  margin-top: 35px;
}


.section-top-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-top-information p {
  color: rgb(136, 136, 136);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

.section-top-news {
  display: flex;
  gap: 48px;
}

.section-top-information img {
  width: 100px; 
  height: auto;
}

.section-top-works-simple {
  color: rgb(230, 126, 34);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 120px;
}

.section-top-steps {
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: left;
}


.section-top-list {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
}

/* .section-top-text {
  display: flex;
  flex-direction: column;
} */

.section-top-text-1 {
  color: rgb(221, 221, 221);
  font-family: Rubik;
  font-size: 72px;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.section-top-text-2 {
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}


.section-top-text-3 {
  color: rgb(85, 85, 85);
  font-family: Rubik;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.section-top-slises {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.section-top-slise-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 324px;
  height: 324px;
  background-color: rgb(246, 247, 248);
  border-radius: 50%;
}

.section-top-slise-2 {
  display: flex;
  justify-content: center;
  width: 242px;
  height: 242px;
  background: rgb(255, 216, 183);
  border-radius: 50%;
}

.section-top-slise-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-top-slises img {
  width: 182px;
  height: 369px;
}

/* meals */

.meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 247, 248);
}



.meals-first {
  color: rgb(230, 126, 34);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 160px;
  margin-bottom: 16px;
}

.meals-second {
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 96px;
}


.meals-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 120px;
}

.meals-carts {
  background-color: #FFFFFF;
}

.meals-carts-img {
  width: 323px;
  height: 215px;
}


.meals-cart {
  margin-left: 44px;
}


.meals-btn-green {
  width: 97px;
  height: 23px;
  border-radius: 25px;
  background: rgb(81, 207, 102);
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 18px;
  border: none;
}

.meals-btn-orange {
  width: 58px;
  height: 23px;
  border-radius: 25px;
  background: rgb(242, 201, 76);
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  margin-left: 8px;
}

.meals-cart-txt {
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 33px;
}

.meals-cart-list {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 17px 0;
}

.meals-cart-list img {
  width: 14px;
  height: 22px;
}

.meals-text-main {
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 41px;
}

.diet-list {
  display: flex;
  justify-content: space-between;
  height: 450px;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.diet-list li {
  position: relative;
  padding-left: 25px; 
}

.diet-list li::before {
  content: "\2713"; 
  color: orange;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}



/* testimonails */

.testimonials {
  display: flex;
  
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
  
}




.testimonails-first {
  color: rgb(230, 126, 34);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin: 104px 0 16px 0;
}


.testimonails-second {
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 88px;
}

.testimonails-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
  
}



.testimonails-block-img {
  width: 64px;
  height: 64px;
}

.testimonails-block-first {
  color: rgb(85, 85, 85);
  font-family: Rubik;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0 22px 0;
}

.testimonails-block-second {
  color: rgb(153, 148, 148);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.boxes {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 48px;
  
}


.boxes img {
  width: 205px;
  height: 205px;
}

/* pricing */


.pricing {
  background-color: rgb(246, 247, 248);
}

.pricing-first {
  color: rgb(230, 126, 34);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 80px;
  margin-bottom: 16px;
  margin-left: 148px;
}

.pricing-second {
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 88px;
  margin-left: 148px;
}

.pricing-carts {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.prising-cart {
  width: 440px;
  height: 543px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 208px;
}




.prising-cart-text1 {
  color: rgb(230, 126, 34);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin: 48px 0 16px 0;
}

.pricing-cart-usd {
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.prising-cart-text2{
  color: rgb(51, 51, 51);
  font-family: Rubik;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}


.prising-cart-text3 {
  color: rgb(85, 85, 85);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  /* text-align: center; */
  margin-bottom: 58px;
}



.pricing-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.pricing-list li {
  position: relative;
  padding-left: 25px; 
}

.pricing-list li::before {
  content: "\2713"; 
  color: orange;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  font-weight: bold;
}

#pricing-list-x::before {
  content: "✕ "; 
  color: orange; 
  font-size: 20px; 
  font-weight: bold;
}

.pricing-list-bold {
  font-weight: bold;
}

.prising-btn {
  width: 183px;
  height: 44px;
  margin-top: 48px;
  border-radius: 8px;
  background: rgb(230, 126, 34);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  border: none;
}


/* footer */

.footer-content {
  background-color: rgb(246, 247, 248);
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 123px;
}


.footer-logo {
  width: 158px;
  height: 21px;
  margin-bottom: 40px;
}


.footer-1-text {
  color: rgb(85, 85, 85);
  font-family: Rubik;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-main {
  color: rgb(85, 85, 85);
  font-family: Rubik;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.footer-contact-simple {
  color: rgb(85, 85, 85);
  font-family: Rubik;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.footer-simple {
  color: rgb(85, 85, 85);
  font-family: Rubik;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}


